.navbar-items {
    .nav-item {
        display: flex;
        align-items: center;

        .nav-link {
            margin: 0 .5rem;
        }
    }
}

.grpField {
    position: relative;

    .form-control {
        background: #f0f7ff;
        border-radius: 8px;
        border: none;
        padding: 5px 5px 5px 30px;

        &:focus,
        :focus-visible {
            box-shadow: none !important;
        }
    }

    .srchIcn {
        position: absolute;
        top: 6px;
        left: 10px;
    }
}

.drop {
    .btn-secondary {
        background: #fff !important;
        color: #000;
        border: none;
    }

    .btn {

        &:hover,
        &:focus,
        &:focus-visible {
            color: #000 !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
}



// Sidebar
.sidebar {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100vh;
    overflow: auto;
    z-index: 50;

    .side-item {
        list-style: none;
        padding: 0;

        .side-link {
            padding: 1rem;

            a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }

            &.active {
                background: #028802;

                a {
                    color: #fff;
                }
            }
        }
    }
}